.collection {
    margin-block: 50px;
}

.mySwiper {
    width: 100%;
    min-height: 300px;
    margin-top: 50px;
}

.swiper-slide {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px !important;
}
